[Desktop Entry]
Encoding=UTF-8
Name=Cheetahcoin
Comment=Cheetahcoin P2P Cryptocurrency
Comment[fr]=Cheetahcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Cheetahcoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/cheetahcoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/cheetahcoin128.png
MimeType=x-scheme-handler/cheetahcoin;
Categories=Office;
